[submodule ".emacs.d/extern/magit"]
	path = .emacs.d/extern/magit
	url = git://github.com/magit/magit.git
[submodule ".emacs.d/extern/smarttabs"]
	path = .emacs.d/extern/smarttabs
	url = https://github.com/jcsalomon/smarttabs.git
[submodule ".emacs.d/extern/auto-complete"]
	path = .emacs.d/extern/auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule ".emacs.d/extern/popup"]
	path = .emacs.d/extern/popup
	url = https://github.com/m2ym/popup-el.git
