[user]
	name = Keith Mosher
	email = keith.mosher@gmail.com
	signingkey = 67FDD423
[push]
	default = simple
[alias]
	cm = commit
	co = checkout
	br = branch
	pl = pull
	ps = push
	st = status
	wc = whatchanged
	# git git git git git git
	git = !exec git
	identity = "! git config user.name \"$(git config user.$1.name)\"; git config user.email \"$(git config user.$1.email)\"; :"
[core]
	editor = emacsclient -t --alternate-editor=''
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[status]
	submoduleSummary = true
[user "public"]
	name = Keith Mosher
	email = keith.mosher@gmail.com
[credential]
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true
[url "git@github.com:"]
	insteadOf = https://github.com/
