[user]
	name = Keith Mosher
	email = kmosher@yelp.com
	signingkey = 67FDD423
[push]
	default = simple
[alias]
	co = checkout
	br = branch
	pl = pull
	ps = push
	st = status
	wc = whatchanged
[core]
	editor = emacsclient -t --alternate-editor=''
